<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>일정 관리</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
        .font-custom {
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>
<body class="bg-gray-100 text-gray-700 font-custom h-screen">
<!-- Container -->
<div class="flex h-full">
    <!-- Sidebar -->
    <div class="w-64 bg-white shadow-lg border-r border-gray-200 h-full rounded-r-lg">
        <div class="p-6">
            <div class="text-lg sm:text-2xl font-bold text-transparent bg-clip-text bg-gradient-to-r to-[#1261a6] from-[#21a3dc] mb-8">
                <span class="block">calendar</span>
                <span class="block">for wedding</span>
            </div>
            <div id="dDayList">
                <ul class="space-y-4">
                    <li class="flex items-center justify-between px-2 sm:px-3 py-1 rounded-md bg-[#f3f7fc] border-r-4 border-[#b6cee1] text-[#476c8a]">D-31
                        <span class="w-2 h-2 bg-orange-300 rounded-full"></span>
                    </li>
                    <li class="text-gray-500 text-left ml-4">신랑1 / 신부1</li>
                    <li class="flex items-center justify-between px-2 sm:px-3 py-1 rounded-md bg-[#f3f7fc] border-r-4 border-[#b6cee1] text-[#476c8a]">D-14
                        <span class="w-2 h-2 bg-yellow-300 rounded-full"></span>
                    </li>
                    <li class="text-gray-500 text-left ml-4">신랑2 / 신부2</li>
                    <li class="flex items-center justify-between px-2 sm:px-3 py-1 rounded-md bg-[#f3f7fc] border-r-4 border-[#b6cee1] text-[#476c8a]">D-2
                        <span class="w-2 h-2 bg-green-300 rounded-full"></span>
                    </li>
                    <li class="text-gray-500 text-left ml-4">신랑3 / 신부3</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Main Content -->
    <div class="flex-1 p-8">
        <!-- Header -->
        <div class="flex justify-between items-center mb-6">
            <div></div> <!-- Left Space -->
            <div class="flex items-center gap-4">
                <span class="font-medium tracking-wide text-xs sm:text-sm text-slate-600">장한별</span>
                <button id="testModal" class="bg-slate-400 px-3 py-1 text-xs sm:text-sm text-white rounded-full border-2 border-slate-300 shadow-sm hover:bg-slate-500">
                    Logout
                </button>
            </div>
        </div>

        <!-- Main Card -->
        <div class="bg-white p-6 rounded-lg shadow-lg h-full">
            <!-- Title and Filters -->
            <div class="flex justify-between items-center mb-6">
                <h1 class="text-base sm:text-lg text-gray-600 font-semibold">일정 관리</h1>
                <div class="flex items-center justify-end gap-y-1 gap-x-1 sm:gap-x-2 text-[0.6rem] sm:text-xs flex-wrap">
                    <button class="whitespace-nowrap bg-orange-100 rounded-full pl-2 pr-1 h-6 sm:pl-3 sm:pr-2 sm:h-7 text-orange-700 font-medium flex items-center justify-end gap-1">
                        D-31
                        <span id="D-31" class="text-[0.65rem] bg-orange-500 ml-0.5 rounded-full w-4 h-4 sm:w-5 sm:h-5 text-white flex items-center justify-center font-light">1</span>
                    </button>
                    <button class="whitespace-nowrap bg-yellow-100 rounded-full pl-2 pr-1 h-6 sm:pl-3 sm:pr-2 sm:h-7 text-yellow-700 font-medium flex items-center justify-end gap-1">
                        D-14
                        <span id="D-14" class="text-[0.65rem] bg-yellow-500 ml-0.5 rounded-full w-4 h-4 sm:w-5 sm:h-5 text-white flex items-center justify-center font-light">1</span>
                    </button>
                    <button class="whitespace-nowrap bg-green-100 rounded-full pl-2 pr-1 h-6 sm:pl-3 sm:pr-2 sm:h-7 text-green-700 font-medium flex items-center justify-end gap-1">
                        D-2
                        <span id="D-2" class="text-[0.65rem] bg-green-500 ml-0.5 rounded-full w-4 h-4 sm:w-5 sm:h-5 text-white flex items-center justify-center font-light">1</span>
                    </button>
                    <button id="openModal" class="text-[0.65rem] bg-gray-500 ml-0.5 rounded-full w-4 h-4 sm:w-5 sm:h-5 text-white flex items-center justify-center font-light">+</button>
                </div>
            </div>

            <!-- Table -->
            <div>
                <table class="bg-white table-card w-full border-slate-200 h-full">
                    <thead class="sticky top-0">
                    <tr class="text-xs text-slate-600 bg-slate-200 shadow-inner">
                        <th class="py-3 whitespace-nowrap">고객명</th>
                        <th class="py-3 whitespace-nowrap">드레스 투어</th>
                        <th class="py-3 whitespace-nowrap">촬영 가봉</th>
                        <th class="py-3 whitespace-nowrap">리허설 촬영</th>
                        <th class="py-3 whitespace-nowrap">본식 가봉</th>
                        <th class="py-3 whitespace-nowrap">본식</th>
                        <th class="py-3 whitespace-nowrap">R</th>
                        <th class="py-3 whitespace-nowrap">W</th>
                    </tr>
                    </thead>
                    <tbody id="calendarList" class="text-xs">
                    <tr class="border-b border-slate-200">
                        <td class="text-center whitespace-nowrap">신랑1 / 신부1</td>
                        <td class="p-4 text-center text-sm relative">
                            D-20
                            <div class="absolute bottom-3 left-1 text-[10px] text-blue-400">
                                2차 발주 완료
                            </div>
                            <div class="absolute bottom-1 left-1 flex space-x-1">
                                <span class="w-2 h-2 bg-orange-300 rounded-full"></span>
                                <span class="w-2 h-2 bg-yellow-200 rounded-full"></span>
                                <span class="w-2 h-2 bg-green-300 rounded-full"></span>
                            </div>
                            <div class="absolute bottom-1 right-1 text-xs text-gray-400">25. 1. 26</div>
                        </td>
                        <td class="p-4 text-center text-sm relative">
                            D-20
                            <div class="absolute bottom-3 left-1 text-[10px] text-blue-400">
                                2차 발주 완료
                            </div>
                            <div class="absolute bottom-1 left-1 flex space-x-1">
                                <span class="w-2 h-2 bg-orange-300 rounded-full"></span>
                                <span class="w-2 h-2 bg-yellow-200 rounded-full"></span>
                                <span class="w-2 h-2 bg-green-300 rounded-full"></span>
                            </div>
                            <div class="absolute bottom-1 right-1 text-xs text-gray-400">25. 1. 26</div>
                        </td>
                        <td class="p-4 text-center text-sm relative">
                            D-20
                            <div class="absolute bottom-3 left-1 text-[10px] text-blue-400">
                                2차 발주 완료
                            </div>
                            <div class="absolute bottom-1 left-1 flex space-x-1">
                                <span class="w-2 h-2 bg-orange-300 rounded-full"></span>
                                <span class="w-2 h-2 bg-yellow-200 rounded-full"></span>
                                <span class="w-2 h-2 bg-green-300 rounded-full"></span>
                            </div>
                            <div class="absolute bottom-1 right-1 text-xs text-gray-400">25. 1. 26</div>
                        </td>
                        <td class="p-4 text-center text-sm relative">
                            D-20
                            <div class="absolute bottom-3 left-1 text-[10px] text-blue-400">
                                2차 발주 완료
                            </div>
                            <div class="absolute bottom-1 left-1 flex space-x-1">
                                <span class="w-2 h-2 bg-orange-300 rounded-full"></span>
                                <span class="w-2 h-2 bg-yellow-200 rounded-full"></span>
                                <span class="w-2 h-2 bg-green-300 rounded-full"></span>
                            </div>
                            <div class="absolute bottom-1 right-1 text-xs text-gray-400">25. 1. 26</div>
                        </td>
                        <td class="p-4 text-center text-sm relative">
                            D-20
                            <div class="absolute bottom-3 left-1 text-[10px] text-blue-400">
                                2차 발주 완료
                            </div>
                            <div class="absolute bottom-1 left-1 flex space-x-1">
                                <span class="w-2 h-2 bg-orange-300 rounded-full"></span>
                                <span class="w-2 h-2 bg-yellow-200 rounded-full"></span>
                                <span class="w-2 h-2 bg-green-300 rounded-full"></span>
                            </div>
                            <div class="absolute bottom-1 right-1 text-xs text-gray-400">25. 1. 26</div>
                        </td>
                        <td class="p-4 text-center text-sm relative">
                            D-20
                            <div class="absolute bottom-3 left-1 text-[10px] text-blue-400">
                                2차 발주 완료
                            </div>
                            <div class="absolute bottom-1 left-1 flex space-x-1">
                                <span class="w-2 h-2 bg-orange-300 rounded-full"></span>
                                <span class="w-2 h-2 bg-yellow-200 rounded-full"></span>
                                <span class="w-2 h-2 bg-green-300 rounded-full"></span>
                            </div>
                            <div class="absolute bottom-1 right-1 text-xs text-gray-400">25. 1. 26</div>
                        </td>
                        <td class="p-4 text-center text-sm relative">
                            D-20
                            <div class="absolute bottom-3 left-1 text-[10px] text-blue-400">
                                2차 발주 완료
                            </div>
                            <div class="absolute bottom-1 left-1 flex space-x-1">
                                <span class="w-2 h-2 bg-orange-300 rounded-full"></span>
                                <span class="w-2 h-2 bg-yellow-200 rounded-full"></span>
                                <span class="w-2 h-2 bg-green-300 rounded-full"></span>
                            </div>
                            <div class="absolute bottom-1 right-1 text-xs text-gray-400">25. 1. 26</div>
                        </td>
                    </tr>
                    <tr class="border-b border-slate-200">
                        <td class="text-center whitespace-nowrap">신랑1 / 신부1</td>
                        <td class="p-4 text-center text-sm relative">
                            D-20
                            <div class="absolute bottom-3 left-1 text-[10px] text-blue-400">
                                2차 발주 완료
                            </div>
                            <div class="absolute bottom-1 left-1 flex space-x-1">
                                <span class="w-2 h-2 bg-orange-300 rounded-full"></span>
                                <span class="w-2 h-2 bg-yellow-200 rounded-full"></span>
                                <span class="w-2 h-2 bg-green-300 rounded-full"></span>
                            </div>
                            <div class="absolute bottom-1 right-1 text-xs text-gray-400">25. 1. 26</div>
                        </td>
                        <td class="p-4 text-center text-sm relative">
                            D-20
                            <div class="absolute bottom-3 left-1 text-[10px] text-blue-400">
                                2차 발주 완료
                            </div>
                            <div class="absolute bottom-1 left-1 flex space-x-1">
                                <span class="w-2 h-2 bg-orange-300 rounded-full"></span>
                                <span class="w-2 h-2 bg-yellow-200 rounded-full"></span>
                                <span class="w-2 h-2 bg-green-300 rounded-full"></span>
                            </div>
                            <div class="absolute bottom-1 right-1 text-xs text-gray-400">25. 1. 26</div>
                        </td>
                        <td class="p-4 text-center text-sm relative">
                            D-20
                            <div class="absolute bottom-3 left-1 text-[10px] text-blue-400">
                                2차 발주 완료
                            </div>
                            <div class="absolute bottom-1 left-1 flex space-x-1">
                                <span class="w-2 h-2 bg-orange-300 rounded-full"></span>
                                <span class="w-2 h-2 bg-yellow-200 rounded-full"></span>
                                <span class="w-2 h-2 bg-green-300 rounded-full"></span>
                            </div>
                            <div class="absolute bottom-1 right-1 text-xs text-gray-400">25. 1. 26</div>
                        </td>
                        <td class="p-4 text-center text-sm relative">
                            D-20
                            <div class="absolute bottom-3 left-1 text-[10px] text-blue-400">
                                2차 발주 완료
                            </div>
                            <div class="absolute bottom-1 left-1 flex space-x-1">
                                <span class="w-2 h-2 bg-orange-300 rounded-full"></span>
                                <span class="w-2 h-2 bg-yellow-200 rounded-full"></span>
                                <span class="w-2 h-2 bg-green-300 rounded-full"></span>
                            </div>
                            <div class="absolute bottom-1 right-1 text-xs text-gray-400">25. 1. 26</div>
                        </td>
                        <td class="p-4 text-center text-sm relative">
                            D-20
                            <div class="absolute bottom-3 left-1 text-[10px] text-blue-400">
                                2차 발주 완료
                            </div>
                            <div class="absolute bottom-1 left-1 flex space-x-1">
                                <span class="w-2 h-2 bg-orange-300 rounded-full"></span>
                                <span class="w-2 h-2 bg-yellow-200 rounded-full"></span>
                                <span class="w-2 h-2 bg-green-300 rounded-full"></span>
                            </div>
                            <div class="absolute bottom-1 right-1 text-xs text-gray-400">25. 1. 26</div>
                        </td>
                        <td class="p-4 text-center text-sm relative">
                            D-20
                            <div class="absolute bottom-3 left-1 text-[10px] text-blue-400">
                                2차 발주 완료
                            </div>
                            <div class="absolute bottom-1 left-1 flex space-x-1">
                                <span class="w-2 h-2 bg-orange-300 rounded-full"></span>
                                <span class="w-2 h-2 bg-yellow-200 rounded-full"></span>
                                <span class="w-2 h-2 bg-green-300 rounded-full"></span>
                            </div>
                            <div class="absolute bottom-1 right-1 text-xs text-gray-400">25. 1. 26</div>
                        </td>
                        <td class="p-4 text-center text-sm relative">
                            D-20
                            <div class="absolute bottom-3 left-1 text-[10px] text-blue-400">
                                2차 발주 완료
                            </div>
                            <div class="absolute bottom-1 left-1 flex space-x-1">
                                <span class="w-2 h-2 bg-orange-300 rounded-full"></span>
                                <span class="w-2 h-2 bg-yellow-200 rounded-full"></span>
                                <span class="w-2 h-2 bg-green-300 rounded-full"></span>
                            </div>
                            <div class="absolute bottom-1 right-1 text-xs text-gray-400">25. 1. 26</div>
                        </td>
                        <!--                        <td class="border border-gray-200 p-4 text-center text-sm">-->
                        <!--                            <button class="bg-gray-200 hover:bg-gray-300 text-gray-700 px-3 py-1 rounded-lg">+</button>-->
                        <!--                        </td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<dialog id="writeModal" class="modal rounded-lg">
    <div class="modal-box bg-white rounded-lg shadow-lg p-6 w-96 max-w-md">
        <h3 class="text-base sm:text-lg font-medium mb-4 sm:mb-5">일정 관리</h3>

        <!-- 신랑/신부 이름 -->
        <div class="flex gap-4 mb-4">
            <label class="block w-1/2">
                <div class="pb-1 text-sm">신랑 이름</div>
                <input
                        type="text"
                        id="husbandName"
                        placeholder="신랑 이름"
                        class="w-full bg-gray-100 rounded-lg px-3 py-2 text-sm focus:outline-none focus:ring focus:ring-blue-200"
                />
            </label>
            <label class="block w-1/2">
                <div class="pb-1 text-sm">신부 이름</div>
                <input
                        type="text"
                        id="wifeName"
                        placeholder="신부 이름"
                        class="w-full bg-gray-100 rounded-lg px-3 py-2 text-sm focus:outline-none focus:ring focus:ring-blue-200"
                />
            </label>
        </div>

        <!-- + 버튼 -->
        <div class="flex justify-end mb-6">
            <button id="addRowBtn" class="bg-gray-300 text-gray-700 px-3 py-1 rounded-lg hover:bg-gray-400 text-xs">
                일정 추가
            </button>
        </div>

        <!-- 항목 및 날짜 추가 -->
        <div id="dynamicFields" class="space-y-4">
            <!-- Dynamic rows will be added here -->
        </div>

        <!-- 액션 버튼 -->
        <div class="modal-action flex justify-end gap-2 mt-4">
            <button class="bg-slate-500 text-white py-1 px-3 rounded-md hover:bg-slate-600 font-normal text-sm" onclick="saveCustomerInfo()">
                저장
            </button>
            <button class="close py-1 px-3 bg-gray-100 text-gray-700 rounded-md hover:bg-gray-200 font-normal border border-gray-300 text-sm">
                닫기
            </button>
        </div>
    </div>
</dialog>

<dialog id="updateModal" class="modal rounded-lg">
    <div class="modal-box bg-white rounded-lg shadow-lg p-6 w-96 max-w-md">
        <h3 class="text-base sm:text-lg font-medium mb-4 sm:mb-5">신랑1 / 신부1 드레스투어</h3>

        <!-- 안내 여부 -->
        <div class="mb-6">
            <h4 class="text-sm font-semibold mb-2">안내 여부</h4>
            <div class="space-y-2">
                <label class="flex items-center">
                    <input type="checkbox" id="checkboxD31" class="form-checkbox h-4 w-4 text-blue-600 border-gray-300 rounded" disabled>
                    <span class="ml-2 text-sm">D-31</span>
                </label>
                <label class="flex items-center">
                    <input type="checkbox" id="checkboxD14" class="form-checkbox h-4 w-4 text-blue-600 border-gray-300 rounded" disabled>
                    <span class="ml-2 text-sm">D-14</span>
                </label>
                <label class="flex items-center">
                    <input type="checkbox" id="checkboxD2" class="form-checkbox h-4 w-4 text-blue-600 border-gray-300 rounded" disabled>
                    <span class="ml-2 text-sm">D-2</span>
                </label>
            </div>
        </div>

        <!-- 발주 여부 -->
        <div class="mb-6">
            <h4 class="text-sm font-semibold mb-2">발주 여부</h4>
            <select id="orderStatus" class="w-full bg-gray-100 rounded-lg px-3 py-2 text-sm focus:outline-none focus:ring focus:ring-blue-200" disabled>
                <option value="" disabled selected>선택하세요</option>
                <option value="orderWait">발주 대기</option>
                <option value="orderComplete">발주 완료</option>
                <option value="secondOrderWait">2차 발주 대기</option>
                <option value="secondOrderComplete">2차 발주 완료</option>
            </select>
        </div>

        <!-- 액션 버튼 -->
        <div class="modal-action flex justify-end gap-2 mt-4">
            <button id="editBtn" class="bg-blue-500 text-white py-1 px-3 rounded-md hover:bg-blue-600 font-normal text-sm">
                수정
            </button>
            <button class="close py-1 px-3 bg-gray-100 text-gray-700 rounded-md hover:bg-gray-200 font-normal border border-gray-300 text-sm">
                닫기
            </button>
        </div>
    </div>
</dialog>

</body>
<script th:src="@{/js/auth.js}"></script>
<script th:src="@{/js/wedding.js}"></script>
<script>
    // document.addEventListener("DOMContentLoaded", function () {
    //     // JWT 토큰 쿠키 확인
    //     const token = document.cookie
    //         .split("; ")
    //         .find(row => row.startsWith("token="));
    //
    //     // 토큰이 없으면 로그인 페이지로 이동
    //     if (!token) {
    //         window.location.href = "/auth/login";
    //     } else {
    //         window.location.href = "/";
    //     }
    // });
</script>
</html>
